@{
    ViewData["Title"] = "Atualizar um cliente";
}

<div class="text">
    <h1>Atualizar as informações de um cliente:</h1>
    <hr>
</div>


<form action="/Cliente/UpdateResult" method="post">
    <table>
        <tr>
            <td>Digite o ClienteId:</td>
            <td><input type="text" name="clienteId" id="clienteId" class="form-control" required></td>
        </tr>

        <tr>
            <td>Endereço:</td>
            <td><input type="text" name="endereco" id="endereco" class="form-control" required></td>
        </tr>

        <tr>
            <td>Cidade:</td>
            <td><input type="text" name="cidade" id="cidade" class="form-control" required></td>
        </tr>

        <tr>
            <td>Região:</td>
            <td><input type="text" name="regiao" id="regiao" class="form-control" required></td>
        </tr>

        <tr>
            <td>Código Postal:</td>
            <td><input type="text" name="codigoPostal" id="codigoPostal" class="form-control" required></td>
        </tr>

        <tr>
            <td>País:</td>
            <td><input type="text" name="pais" id="pais" class="form-control" required></td>
        </tr>

        <tr>
            <td>Telefone:</td>
            <td><input type="text" name="telefone" id="telefone" class="form-control" required></td>
        </tr>

        <tr>
            <td> <button type="submit" class="btn btn-primary">Enviar</button></td>
        </tr>

    </table>
</form>